#!/bin/sh

if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

export no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com,mx"
export http_proxy="http://localhost:7890"
export https_proxy=$http_proxy
export EDITOR="emacsclient -nw"
export QT_QPA_PLATFORMTHEME=gtk2
export GTK_USE_PORTAL=1
